QF-Test/qftest-6.0.3/report/pkgdoc.dtd

<!-- ........................................................................
     QFS Test Pkgdoc 1.0 DTD

     Copyright 2005 Quality First Software GmbH
         All Rights Reserved.

     Permission to use, copy, modify and distribute the Test Report 1.1 DTD
     and its accompanying documentation for any purpose and without fee is
     hereby granted in perpetuity, provided that the above copyright notice
     and this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.

     It is provided "as is" without expressed or implied warranty.
......................................................................... -->

<!-- This is the driver file for version 1.0 of the Pkgdoc DTD.

     Please use this formal public identifier to identify it:

     "-//QFS//DTD Pkgdoc 1.0//EN"
-->
<!ENTITY % Report.version "-//QFS//DTD Pkgdoc 1.1//EN">

<!-- Use this URI to identify the default namespace:

         "http://www.qfs.de/2003/pkgdoc"
-->
<!ENTITY % Report.ns "http://www.qfs.de/2003/pkgdoc">

<!-- ........................................................................
     This DTD defines a generic structure for XML package documentation
     generated from test-suites.

     This file should be considered work in progress. The structure and
     attributes have not been finalized yet and may change incomatibly in
     future versions.
......................................................................... -->

<!--.........................................................................
     Node hierarchy
..........................................................................-->

<!-- test-suite is the root node of a pkgdoc.
-->
<!ELEMENT test-suite
     (comment?, package*)
>

<!-- test-suite attributes:
     State attributes.
     Common attributes:

     type        The type of the test-suite: currently only "qftestJUI"
     file        Identifier for the test-suite, i.e. the filename of
            the original qftestJUI test-suite.
     qftestJUI-version    Version of qftestJUI
-->
<!ATTLIST test-suite
     type        (qftestJUI)    #REQUIRED
     file        CDATA        #IMPLIED
     qftestJUI-version    CDATA        #IMPLIED
>

<!-- .................................................................... -->

<!-- package represents a package in a qftestJUI test-suite.
-->
<!ELEMENT package
     (comment?, (package | procedure)*)>

<!-- package attributes
     name        The name of the package.
     id            Optional identifier for the package.
-->
<!ATTLIST package
     name        CDATA        #REQUIRED
     id            CDATA        #IMPLIED
>

<!-- .................................................................... -->

<!-- procedure represents a procedure in a qftestJUI test-suite.
-->
<!ELEMENT procedure
     (comment?)>

<!-- procedure attributes
     name        The name of the procedure.
     id            Optional identifier for the procedure.
-->
<!ATTLIST procedure
     name        CDATA        #REQUIRED
     id            CDATA        #IMPLIED
>

<!-- .................................................................... -->

<!-- All major nodes can contain an optional comment.
-->
<!ELEMENT comment (#PCDATA) >

